---
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
import DeckViewer from "../../components/DeckViewer"; // ✅ Import it cleanly

const { id } = Astro.params;
---

<Layout>
  <main class="p-8">
    <DeckViewer id={id!} client:only="react" />
  </main>
</Layout>
